<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umss.sistemas.tesis.hotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.umss.sistemas.tesis.hotel"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateAccountActivity"
            android:label="Regristrar cuenta"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity android:name=".activity.ContainerActivity" />
        <activity
            android:name=".activity.DetailServiceActivity"
            android:parentActivityName=".activity.ContainerActivity"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity" />
        </activity>
        <activity android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
        <activity android:name=".activity.CalendarActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
        <activity android:name=".activity.MenuFoodActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
        <activity android:name=".activity.MessagesActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
        <activity android:name=".activity.OffersActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
        <activity android:name=".activity.ReserveActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
        <activity android:name=".activity.ServicesActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
        <activity android:name=".activity.SitesTourActivity"
            android:parentActivityName=".activity.ContainerActivity"
            tools:targetApi="jelly_bean">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ContainerActivity"/>
        </activity>
    </application>

</manifest>